hr {
margin-bottom: 35px;
margin-top: 25px;
}
li {
color: blue;
}
code {
  font-family: "Helvetica";
  text-decoration: underline;
}
.caption {
  width: 50%;
  font-style: italic;
}
#most_important {
  background-color: lightgray;
  width: 200px;
  height: 100px;
