header {
  background-color: grey;
  color: white;
  padding: 15px;
  margin-top: 50px;
}
p {
  margin-left: 200px;
  margin-right: 200px;
  text-indent: 30px;
  text-align: justify;
  font-family: Georgia, Times, serif;
}
h1, h2, h3 {
  text-align: center;
  font-family: Georgia, Times, serif;
}
h3 {
  font-style: italic;
}
html {
  background-color: white;
}
body {
  background-color: white;
}
.list {
  margin-left: 225px;
  margin-right: 275px;
}
.endnotes {
  margin-left: 225px;
  margin-right:200px;
}
#barchart, #heatmap {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
