p {margin-left: 55px;
margin-right: 55px;
text-indent: 30px;}
/*
.title {text-align: center;}
.subtitle {text-align: center;}
.byline {text-align: center;}
*/
h1, h2, h3 {
  text-align: center;}
html {background-color: lightgray;}
body {background-color: lightgray;}
.list {margin-left: 55px;
margin-right: 275px;}
.endnotes {margin-left: 75px;
  margin-right:75px;}
.tableauPlaceholder {
  margin-left: auto;
  margin-right: auto;
  width: 50%;}
