p {margin-left: 55px;
margin-right: 55px;}
p {text-indent: 30px;}
.title {text-align: center;}
.subtitle {text-align: center;}
.byline {text-align: center;}
html {background-color: lightgray;}
body {background-color: lightgray;}
.list {margin-left: 55px;
margin-right: 275px;}
.endnotes {margin-left: 75px;
  margin-right:75px;}
