p {
  margin-left: 50px;
  font-family: Georgia, Times, serif;
  line-height: 1.5;
}

h1 {
  text-align: center;
  font-family: Georgia, Times, serif;
}

h3, h4 {
  margin-left: 25px;
}

.endnotes {
  margin-left: 225px;
  margin-right: 200px;
}

#barchart, #heatmap {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
